@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Sixtyfour&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
}

h1 {
    font-family: "Sixtyfour", sans-serif;
}

nav {
    background-color: #333;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #33bcf2;
    font-size: 40px;
    overflow: hidden;
}

span{
    color: crimson;
}

a {
    text-decoration: none;
    color: white;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-item {
    padding: 10px;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
    z-index: 1;
    border-radius: 4px;
    padding: 5px 0;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #444;
}


a:hover {
    color: #a88df1;
}

.dropdown-menu a:hover {
    background-color: #444;
}


.right-nav {
    display: flex;
    align-items: center;
}

main {
    padding: 5%;
}

.card {
    padding: 50px;
    margin: 50px;
    width: 350px;
    border: 2px black solid;
    border-radius: 25px;
    background-color: #aaa;
}

.card-top {
    display: flex;
}

img {
    margin: 10px;
}

.img-wrapper img {
    width: 100%;
    object-fit: contain;

}

.img-wrapper {
    margin: 50px;
}

nav {
    background-color: black;
}

nav a::before{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #33bcf2;
    transition: all .5s;
}

nav a:hover::before{
    width: 100%;
}

.white{
    color: white;
}

img {
    width: 100px;
    height: auto;
}

.player-card{
    border:#ddd 1px solid;

    width: 100%;

}