@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Sixtyfour&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
}

h1 {
    font-family: "Sixtyfour", sans-serif;
}

nav {
    background-color: #333;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #33bcf2;
    font-size: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

span{
    color: crimson;
}

a {
    text-decoration: none;
    color: white;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-item {
    padding: 10px;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
    z-index: 1;
    border-radius: 4px;
    padding: 5px 0;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #444;
}


a:hover {
    color: #a88df1;
}

.dropdown-menu a:hover {
    background-color: #444;
}


.right-nav {
    display: flex;
    align-items: center;
}

main {
    padding: 5%;
}

img {
    margin: 10px;
}

.img-wrapper img {
    width: 100%;
    object-fit: contain;

}

.img-wrapper {
    margin: 50px;
}

nav {
    background-color: black;
}

nav a::before{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #33bcf2;
    transition: all .5s;
}

nav a:hover::before{
    width: 100%;
}

img {
    width: 100px;
    height: auto;
    border-radius: 35%;
}

.player-card{
    border:#ddd 1px solid;

    width: 100%;

}

.red {
    color: red;
}

.blue {
    color: blue;
}

.white {
    color: white;
}

.portland_blue{
    color: #33bcf2;
}

.grey{
    color: grey;
}

.purple{
    color: rgb(135, 0, 189);
}

body {
    background-image: url('https://img.freepik.com/premium-photo/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop_1258-53273.jpg?semt=ais_hybrid');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.card {
    padding: 50px;
    margin: 50px;
    width: 350px;
    border: 2px black solid;
    border-radius: 25px;
    background-color: #aaa;
}

.card-top {
    display: flex;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.founders{
    width: 300px;
    border-radius: 80%;
    margin: 50px;
}

.founder{
    margin-top: 200px;
    text-align: center;

}

.portland-win{
    width: 400px;
    border-radius: 0px;
    margin-left: 39%;
}

.portland_w{
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.schedule-card{
    font-size: 35px;
}

.founder-name{
    font-size: 25px;
}

.founder-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}